/* Sayfa ortalama ve arka plan */
.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

/* Kutu stil */
.forgot-box {
  background: white;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  width: 350px;
}

/* Başlık */
.forgot-box h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

/* Input alanı */
.forgot-box input {
  width: 94%;
  padding: 10px;
  margin: 10px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Gönder butonu */
.forgot-box button {
  width: 100%;
  padding: 10px;
  background-color: #3f6cf4;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.forgot-box button:hover {
  background-color: #2c56d9;
}

.back-to-login {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.back-to-login span {
  cursor: pointer;
  color: #4f70ec;
  font-weight: 500;
  transition: color 0.3s ease;
  display: inline-block;
  margin-top: 10px;
}

.back-to-login span:hover {
  color: #304cc9;
  text-decoration: underline;
}
