.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.reset-password-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reset-password-box h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* göz ikonu için boşluk */
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: gray;
}

.reset-password-box button {
  width: 100%;
  padding: 10px;
  background-color: #4f70ec;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-password-box button:hover {
  background-color: #3d5fdb;
}
